<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="css/mui.css"/>
  <link rel="stylesheet" href="css/wow.css"/>
  <script src="js/mui.min.js"></script>
</head>
<body>
  <header class="mui-bar mui-bar-transparent" data-top='0' data-offset='180' data-duration='16' data-scrollby=".mui-scroll-wrapper">
    <a href="index.html" class="mui-icon mui-icon-left-nav"></a>
    <!--<h1 class="mui-title">导航栏</h1>-->
  </header>
  <div class="mui-content">
    <img class="mui-slider" src="img/70.jpg" alt="" width="100%">
    <h1>
      小号升装备更快！7.2版本装备等级一览
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi, at corporis debitis doloribus enim eos impedit ipsam labore laboriosam maiores, necessitatibus non numquam quod sit velit vitae voluptatem.
    </p>
  </div>
  <script>
    mui('.mui-bar-transparent').transparent({
      top: 0,
      offset: 150,
      duration: 16,
      scrollby: document.querySelector('.mui-scroll-wrapper')
    })
  </script>
</body>
</html>