<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <!--<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />-->
  <title></title>
  <link rel="stylesheet" href="css/mui.min.css"/>
  <link rel="stylesheet" href="css/wow.css"/>
  <script src="js/mui.min.js"></script>
</head>
<body>
  <header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">天赋模拟器</h1>
    <a href="index.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
  </header>
  <article class="mui-content" id="giftCont">
    <div class="mui-row">
      <div class="mui-col-xs-2">

      </div>
      <div class="mui-col-xs-8">
        <h1 class="mui-title">请选择一个职业专精</h1>
        <ul class="bc cs-clear dower-item">
          <li>
            <a id="openDk" href="#showDk" class="maskIcon">
              <img src="img/professorImg/dk.jpg" alt=""/>
            </a>
            <div id="showDk" class="mui-popover">
              <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/xue.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">鲜血</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell mui-media">
                  <a href="#">
                    <img src="img/professorImg/ice.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">冰霜</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell mui-media">
                  <a href="#">
                    <img src="img/professorImg/0b1c735e5ed18e6c3ba1702f196f1aaf.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">邪恶</h2>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a id="openXd" href="#showXd" class="maskIcon">
              <img src="img/professorImg/xd.jpg" alt=""/>
            </a>
            <div id="showXd" class="mui-popover">
              <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/8d961cf459a6b2b87b0eec9f18193ab5.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">平衡</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/d50c86b752551b554971426599707b99.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">野性</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/23bba663fddda1cf155c8997f29f4b2f.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">守护</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/4a7677881772eb886bbdffa9d21094cb.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">恢复</h2>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#showLr" class="maskIcon">
              <img src="img/professorImg/lr.jpg" alt=""/>
            </a>
            <div id="showLr" class="mui-popover">
              <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/efbb333c61ef8e5f0ac87cd901a692fc.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">野兽控制</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/9db234a94ff99082eebbfed7ec83d057.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">射击</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/c163bb6f79708bc0ecddc59c957ba253.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">生存</h2>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#showFs" class="maskIcon">
              <img src="img/professorImg/fs.jpg" alt=""/>
            </a>
            <div id="showFs" class="mui-popover">
              <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/aoshu.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">奥术</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/fire.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">火焰</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/c97075b9ea65fe45e054f6e9b4659b1a.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">冰霜</h2>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#showWs" class="maskIcon">
              <img src="img/professorImg/ws.jpg" alt=""/>
            </a>
            <div id="showWs" class="mui-popover">
              <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/659dd17439cb09689c36ac8abe16a8d6.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">酒仙</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/11b40d80da6f15fb84e3042ff6f88bd9.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">织雾</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/9ba8ac8a1105092ed476cf6148745200.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">踏风</h2>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#showQs" class="maskIcon">
              <img src="img/professorImg/qs.jpg" alt=""/>
            </a>
            <div id="showQs" class="mui-popover">
              <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/9dddc3994b2d87e932880f0b7307db2f.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">神圣</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/4f7ad0bf327a1c0ae455e2115512e388.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">防护</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/9c71116ef058a078e6b7e7e1c313560a.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">惩戒</h2>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#showMs" class="maskIcon">
              <img src="img/professorImg/ms.jpg" alt=""/>
            </a>
            <div id="showMs" class="mui-popover">
              <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/bd9ef704e77d3c2b712801e7b0074d77.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">戒律</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/holyshit.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">神圣</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/1dcd21f0708c82ad6493a02c2bf2f8a8.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">暗影</h2>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#showDz" class="maskIcon">
              <img src="img/professorImg/dz.jpg" alt=""/>
            </a>
            <div id="showDz" class="mui-popover">
              <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/0a4ab0af2d314b9b339d118e61ea0fdf.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">刺杀</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/7b9ec78606d8772b72416a62ec9445a7.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">狂徒</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/a983f9cabf87f34837bdeee47eeb3b8a.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">敏锐</h2>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#showSm" class="maskIcon">
              <img src="img/professorImg/sm.jpg" alt=""/>
            </a>
            <div id="showSm" class="mui-popover">
              <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/e4991e9249f59615cd92786ebaf3f036.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">元素</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/ff2a6b323b1e9cc634cfe6588954970c.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">增强</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/d7427139ae2cb592e7d4cf1e492b2d45.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">恢复</h2>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#showSs" class="maskIcon">
              <img src="img/professorImg/ss.jpg" alt=""/>
            </a>
            <div id="showSs" class="mui-popover">
              <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/1ffd4a1fdc5c0b8fa44c32fa645ea58b.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">痛苦</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/f3cf2dc492b7275894f3da00a2220ccd.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">恶魔学识</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/99668608937d827099662db0fd0474d0.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">毁灭</h2>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#showZs" class="maskIcon">
              <img src="img/professorImg/zs.jpg" alt=""/>
            </a>
            <div id="showZs" class="mui-popover">
              <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/034a60c91d8794b1663bfb748f47b1bc.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">武器</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/644fdc5bdad62c7ea51326f0fb41e521.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">防护</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/35e4d2f2efa8744782c76888cb7d3977.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">狂怒</h2>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#showDh" class="maskIcon">
              <img src="img/professorImg/dh.jpg" alt=""/>
            </a>
            <div id="showDh" class="mui-popover">
              <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/e0c83365ceb462dc2265e6712c3f1ebc.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">浩劫</h2>
                  </a>
                </li>
                <li class="mui-table-view-cell">
                  <a href="#">
                    <img src="img/professorImg/b5d9ee266bb3542d1405cb681f36d32e.jpg" class="mui-pull-left" alt=""/>
                    <h2 class="mui-media-body" style="text-align: left;padding-left: 10px;color: #E2D105;">复仇</h2>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="mui-col-xs-2">

      </div>
    </div>
  </article>
  <script>
    mui('.mui-popover').popover('hide',document.getElementById("openDk"));
  </script>
</body>
</html>